@import "icons";

body {
  color: #fff;
  text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  min-height: 670px;
}

#background-image {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#content {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#hey {
  font-size: 48px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 30px;
  display: block;
}

h1, h2 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

a {
  color: #fff;
}

#social {
  margin-top: 40px;
}

#social a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: center left;
  line-height: 40px;
}

#twitter, #github {
  &:before {
    icon();
    width: 36px;
  }
}

#twitter:before {
  content: "\54";
}

#github:before {
  content: "\f300";
}

#social a:hover {
  text-decoration: underline;
}

#credits {
  color: #fff;
  font-weight: bold;
  bottom: 20px;
  right: 20px;
  position: fixed;
  font-size: 13px;
  opacity: 0.66;
  line-height: 1em;
}
#credits:hover {
  opacity: 1;
}
#credits a {
  text-decoration: none;
}