<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} &middot; by Jerome Gravel-Niquet
      {% else %}
        Jerome Gravel-Niquet's Blog
      {% endif %}
    </title>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/stylesheets/blog.css">

    <link rel="alternate" href="http://feeds.feedburner.com/jgnblog" type="application/rss+xml" />
    
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript">
      //<![CDATA[
        var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5201171-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      //]]>
    </script>
  </head>
  <body>
    <div id="container">
      <div id="intro">
        <div class="circle">
          <img src="/images/avatar.jpg" alt="Jerome Gravel-Niquet">
        </div>
        <h1>J&eacute;r&ocirc;me Gravel-Niquet</h1>
        <p>From web designer to full-stack web developer, this is where I write about the path to self-betterment in web development, open source software and entrepreneurship.</p>
        <p id="work">Creator of the original <a href="http://backbonejs.org/examples/todos/index.html">Backbone.js Todos app</a>, <a href="http://documentup.com/">Document Up</a> and <a href="http://github.com/jeromegn">many more on Github.</a></p>
        <div id="on-the-web">
          <a href="http://github.com/jeromegn" class="github">jeromegn</a>
          <a href="http://twitter.com/jeromegn" class="twitter">jeromegn</a>
          <a href="http://alpha.app.net/jerome" class="appdotnet">jerome</a>
        </div>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
    <script type="text/javascript">
      /mobi/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
        if (!pageYOffset) window.scrollTo(0, 1);
      }, 1000);
    </script>
  </body>
</html>